<%= form_for @order, :html => { multipart:true } do |f| %>
  <label class="block text-sm">
    <span class="text-gray-700 dark:text-gray-400">Currency</span>
    <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 ">
      <%= f.text_field :currency, class: "block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" , placeholder: "EUR" %>
    </div>
  </label>
  <label class="block text-sm">
    <span class="text-gray-700 dark:text-gray-400">Price</span>
    <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 ">
      <%= f.text_field :price, class: "block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" , placeholder: "EUR" %>
    </div>
  </label>
  <label class="block text-sm">
    <span class="text-gray-700 dark:text-gray-400">Discount</span>
    <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 ">
      <%= f.text_field :discount, class: "block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" , placeholder: "EUR" %>
    </div>
  </label>
  <label class="block text-sm">
    <span class="text-gray-700 dark:text-gray-400">Depozit</span>
    <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 ">
      <%= f.text_field :depozit, class: "block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" , placeholder: "EUR" %>
    </div>
  </label>
  <label class="block text-sm">
    <span class="text-gray-700 dark:text-gray-400">No</span>
    <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 ">
      <%= f.text_field :no, class: "block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" , placeholder: "EUR" %>
    </div>
  </label>
  <label class="block text-sm">
    <span class="text-gray-700 dark:text-gray-400">Maxima</span>
    <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 ">
      <%= f.text_field :maxima, class: "block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" , placeholder: "EUR" %>
    </div>
  </label>
  <label class="block text-sm">
    <span class="text-gray-700 dark:text-gray-400">Date</span>
    <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 ">
      <%= f.text_field :created_at, class: "block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" , placeholder: "EUR" %>
    </div>
  </label>
  <label class="block text-sm">
    <span class="text-gray-700 dark:text-gray-400">File</span>
    <div class="flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 ">
      <%= f.file_field :file, class: "block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6" , placeholder: "EUR" %>
    </div>
  </label>
  <label class="block text-sm">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              orders_path, :class => 'btn btn-default' %>
  </label>
<% end %>
